*{
    margin: 0px;
    padding: 0px;
}
.container{
     background-color: #ffe4c4; 
}

.menu-container{
    /* background-color: white; */
    /* border-bottom: 2px solid  #6F4E37; */
    /* box-shadow: 0px 0px 10px gray ; */
    padding: 10px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

.logo-image{
    /* background-color: #6F4E37; */
    width: 200px;
}

.menu-items{
    display: flex;
    justify-content: space-between;
}
.item{
    margin-left: 75px;
    margin-top: 40px;
    font-size: 20px;
    font-family: sans-serif;
    color: chocolate;
}
.item:hover{
    color: #6F4E37;
    cursor: pointer;
}

.hero-container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

}
.hero-title{
    display: flex;
    align-items: center;
    border: 5px solid #6F4E37;
    height: 60vh;
    border-left: none;

}
.hero-image{
    /* border:2px solid; */
    width: 50vh;
}

.hero-img{
    width: 350px;
}

.title{
    color: #6F4E37;
    font-size: 7em;
    font-family: sans-serif;
    /* border: 10px solid; */
    margin: 0px;
}

.title-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* border: 10px dotted; */
    margin-right: 40px;
}

.button{
    background: none;
    border-color: #6F4E37;
    border-radius: 4px;
    height: 50px;
    width: 100px;
    font-family: sans-serif;
    font-weight: bold;
    color: #6F4E37;
}

.bold{
    font-weight: bold;
}